# Pfad zum speichern: /etc/systemd/system/sungrow_to_db.service
[Unit]
Description=ServiceUnit zum starten des Wettersektor Export Skriptes
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/iobroker/sungrow_to_postgrest/sungrow_to_db.py
User=iobroker

[Install]
WantedBy=multi-user.target